/* footer */
footer {
  padding-top: 15px;
  padding-bottom: 25px;
  color: white;
  background: rgb(32, 32, 32);
}

.fab {
  float: right;
  font-size: 35px;
  color: white;
  padding-left: 5px;
}

.copyright {
  text-align: left;
}