body,
html {
    height: 100%;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 10px;
}

.mainpage {
    background-image: url("../images/IMG_0318.JPG");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.info-container{
    width:70%;
    margin:auto;
}
.container1 {
    padding-top: 200px;
}

.container2 {
    height: calc(100% - 120px);
    text-align: center;
    margin: auto;
}
.aboutme{
    background-color: rgb(172, 171, 169);
}
@media (min-width: 1000px) {
    .aboutme {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;

    }
}

@media (max-width: 1000px) {
    .aboutme {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.circleimg {
    border-radius: 50%;
    height: 200px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}

.software {
    width: 100%;
    background-color: rgba(54, 53, 53, 0.774);
}

.container3 {
    height: calc(100% - 500px);
    max-width: 900px;
    text-align: center;
    margin: auto;
}

.stitle {
    text-align: left;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

p {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
}