
.navbar {
    padding: 10px;
    padding-left: 70px;
    width: 100%;
    margin:auto;
    font-family: 'Arimo', sans-serif;
    /*font-family: 'Playfair Display', serif;*/
    font-size: 20px;
    position: fixed;
    align-items: center;
    display: flex;
}
.navbar-nav {
    text-align: center;
}

.nav-item {
    padding-left: 20px;
}

.nav-container {
    width: 100%;
}

@media (min-width: 992px) {
    .navbar {
        background-color: transparent !important;
        z-index: 100;
    }
}
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    z-index: 100;
}
.icon{
border-radius: 50%;
    height: 200px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
}