body,
html {
  height: 100%;
  margin: 0;
  
}

.whitespace {
  background-color: white !important;
  height: 66px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.portfolio1 {
  width: 100px;
  text-align: center;
}

.software {
  width: 100%;
  height: 100%;
  background-color: rgba(168, 165, 165, 0.856);
}

.container1 {
  width: 100%;
  text-align: center;
  margin: auto;
}

.stitle {
  text-align: left;
  margin-left: 30px;
}

.row {
  width: 100%
}
img{
  width: 40%;
}
.rimg {
  width: 25%;
  margin:10px;
}
.ptext, .imgtext{
  width: 80%;
  margin:auto;
}
.blankspace {
  padding-top: 60px;
  padding-bottom: 50px;
}
h2 {
  text-align: center;

}
